[submodule "HmMediaSDKApp/app/src/main/cpp/mediaserver"]
	path = Andriod/app/src/main/cpp/mediaserver
	url = https://github.com/akumrao/mediaserver.git
[submodule "HmMediaSDKIOS/mediaserver"]
	path = IOS/mediaserver
	url = https://github.com/akumrao/mediaserver.git
